.git/
node_modules/
vendor/
tests/
.env
.env.local
.env.production
.env.development
.env.staging
.phpunit.result.cache
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
docker-compose.yml
Dockerfile
.dockerignore
README.md
